* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--first-color: #d1d0d0;
	--second-color: #141414ea;
}

body {
	font-family: 'Permanent Marker';
	background-color: var(--second-color);
	color: var(--first-color);
}

h1 {
	font-weight: bold;
	font-size: 35px;
	text-transform: uppercase;
}
section {
	margin-top: 20px;
	text-align: center;
}

.game--container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 306px;
	margin: 50px auto;
	border: 3px solid var(--first-color);
}

.cell {
	font-family: 'Permanent Marker', cursive;
	width: 100px;
	height: 100px;
	box-shadow: 0 0 0 2px var(--first-color);
	border: 1px solid var(--first-color);
	cursor: pointer;
	line-height: 100px;
	font-size: 60px;
}
.button-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	margin-top: 20px;
}

button {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 15px;
	border: 1px solid (--second-color);
	border-radius: 8px;
	cursor: pointer;
	color: var(--first-color);
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	background-color: var(--second-color);
	transition: background-color 0.3s, color 0.3s;
}
button:hover {
	color: var(--second-color);
	background-color: var(--first-color);
}
